.home-card {
	/* margin: 30px auto 30px auto; */
	background-color: #112b3c;
	border-radius: 10px;
	/* border-color: #ffffff; */
	margin: auto auto 30px auto;
	box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.1);
	width: 400px;
}

.card-text {
	margin: auto;
	line-height: 1.8;
	width: 96%;
}
h3 {
	padding-top: 35px;
}

.card-img {
	z-index: 100;
	position: relative;
	top: 25px;
	display: flex;
}
